<div id="map">
  
</div>

<div class="container form-wrapper">
 
    <form class="row">
      <div class="col-md-6 col-md-offset-3 people">

        <div class="" id="transport-icons">
          <div class="well">
            <h3>Transport</h3>
            <div id="underground"></div>
            <div id="walk"></div>
            <div id="car"></div>
            <div id="bike"></div>         
          </div>
        </div>
      <div id="routeSteps"></div>
        <div class="" id="collapsed-activities">
          <div class="well">
            <h3>Choose Activity</h3>
            <div class="activity" id="drink"></div>
            <div class="activity" id="food"></div>
            <div class="activity" id="coffee"></div>
            <div class="activity" id="shop"></div>
            <div class="activity" id="strippers"></div>
            <div class="activity" id="condom"></div>
            <div class="activity" id="casino"></div>
            
          </div>
        </div>
        <div class="form-group">
          <h3>Your Location</h3>
          <input id="pac-input" class="controls form-control" type="text" placeholder="Enter a location">

        </div>
        
        <div class="form-group repeater">
          <h3>Your Friend's Location</h3>
          <input name="repeating-data[]" class="autocomplete controls form-control" type="text" placeholder="Enter a location">
          <button type="button" class="add"><img src="/images/user-plus.png"></button>
          <button type="button" class="remove"><img src="/images/user-minus.png"></button>
        </div>

      </div>
    </form>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <button id="findCenterButton" role="button" class="red-btn go form-control">Find the middle</button>
      </div>


      
  

 
     
    </div>
</div>

<!-- Places Info Modal -->
<div id="placesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red-btn btn-primary" id="place-directions">Directions</button>
        <button type="button" class="btn blue-btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- No Places Info Modal -->
<div id="noPlacesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Oops...</h3>
      </div>
      <div class="modal-body">
        <p>Sorry, there are no places within a 250 meter radius of the middle.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="js/gmaps.js"></script>