@import 'https://fonts.googleapis.com/css?family=Roboto';


body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  color: #95989A;
}

#home {
   width: 100%;
   height: 100vh;
    background: url(../images/home_background.png) no-repeat center center; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 #map {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
 }

/* img#map {
  max-height: 20px;
 }*/
 
 
 img.img-responsive {
  margin-bottom: 1em;
  display: block;
 }

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  max-width: 100%;
  text-align: center;
}

.shader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2));
  z-index: 1;
}
nav.navbar.navbar-default {
  margin: 0;
  background-color: #fff;
}

a.navbar-brand img{
  height: 100%;
}

.navbar-brand {
  padding: 0;
}
a.red-btn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  color: #fff;
  background-color: #E84855;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin:2em 1em;
}
a.red-btn:hover{
  background-color: #1B998B;
}


a.blue-btn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  color: #fff;
  background-color: #2D3047;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  margin:2em 1em;
}
a.blue-btn:hover {
  background-color:#1B998B;
}
h2.text-center {
  text-transform: uppercase;
  color: #2D3047;
  font-weight: 700;
  margin-bottom: 2em;
}

input.form-control {
/*  min-width: 400px;
  max-width: 830px;*/
  width: 100%;
  border: none;
  border-bottom: 1px solid #1B998B;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  

}
input.form-control:focus{
    border-color: inherit;
    border-bottom: 1px solid #2D3047;
      -webkit-box-shadow: none;
      box-shadow: none;
}

.fa {
  color: #E84855 !important;
} 

button.center-btn {
  display:block !important;
  margin: 4em auto !important;
}
button.red-btn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  color: #fff;
  background-color: #E84855;
  display: inline-block;
  text-align: center;
  border: none;
  text-transform: uppercase;
  margin:2em 1em;
}

button.red-btn:hover{
  background-color: #2D3047;
}

button.red-btn.go{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  width: 18em;
  display: block;
  line-height: 0;
  font-weight: 700;
  padding: 2em;
}

button.blue-btn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  color: #fff;
  background-color: #2D3047;
  display: inline-block;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  margin:2em 1em;
}

button.blue-btn:hover {
  background-color: #1B998B;
}

h3 {
  color: #2D3047;
  font-size: 1.6em;
  text-transform: uppercase;
}
.form-group:nth-child(2) button.remove {
  display: none;
}

button.add {
  background-color: transparent;
  border: none;
  margin-top: 1.5em;
}
button.remove {
  background-color: transparent;
  border: none;
  margin-top: 1.5em;
}

#directions {
  background-color: #E84855;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 2em;
  padding-left: 2em;
  color: #fff;
}

#drink{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/drink.svg);
  display: inline-block;
}
#drink:hover, #drink.active {
  background: url(../images/drink-green.svg);
}

#food{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/food.svg);
  display: inline-block;
}
#food:hover, #food.active {
  background: url(../images/food-green.svg);
}

#coffee{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/coffee.svg);
  display: inline-block;
}
#coffee:hover, #coffee.active {
  background: url(../images/coffee-green.svg);
}
#shop{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/shop.svg);
  display: inline-block;
}
#shop:hover, #shop.active {
  background: url(../images/shop-green.svg);
}

#strippers{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/strippers.svg);
  display: inline-block;
}
#strippers:hover, #strippers.active {
  background: url(../images/strippers-green.svg);
}
#toilets{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/toilet.svg);
  display: inline-block;
}
#toilets:hover, #toilets.active {
  background: url(../images/toilet-green.svg);
}

#condom{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/condom.svg);
  display: inline-block;
}
#condom:hover, #condom.active {
  background: url(../images/condom-green.svg);
}

#casino{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/casino.svg);
  display: inline-block;
}
#casino:hover, #casino.active {
  background: url(../images/casino-green.svg);
}

#ghost{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/ghost.svg);
  display: inline-block;
}
#ghost:hover, #ghost.active {
  background: url(../images/ghost-green.svg);
}

#underground{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/underground.svg);
  display: inline-block;
}
#underground:hover, #underground.active {
  background: url(../images/underground-green.svg);
}

#walk{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/walk.svg);
  display: inline-block;
}
#walk:hover, #walk.active {
  background: url(../images/walk-green.svg);
}

#car{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/car.svg);
  display: inline-block;
}
#car:hover, #car.active {
  background: url(../images/car-green.svg);
}

#bike{
  margin: 0 1em 0 0;
  padding: 0;
  height: 62px;
  width: 62px;
  background: url(../images/bike.svg);
  display: inline-block;
}
#bike:hover, #bike.active {
  background: url(../images/bike-green.svg);
}

.well {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);

}


#more-activities {
  color: #E84855;
  text-decoration: none;
  font-weight: 700
  
}

img.img-circle.img-responsive{
max-height: 200px;
max-width: 200px;
border: solid 5px #E84855;
}

.form-group.repeater {
  -webkit-animation: fadeinout 4s linear 1 forwards;
  animation: fadeinout 4s linear 1 forwards;
}


@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; } 
}
@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; } 
}

#transport-icons {
  
}

#routeSteps {
  color: #1B998B;
  display: none;
}
.duration {
  font-size: 0.8em;
  color: #95989A;
}

.totalDuration {
  font-size: 1.2em;
  font-weight: 700;
}
button#place-directions.btn.red-btn.btn-primary {
  font-weight: 700;
}

button#place-directions.btn.red-btn.btn-primary:hover {
  background-color: #1B998B;
}


i.fa.fa-refresh {
margin-top: 1em;
}

i.fa.fa-refresh:hover {
  transition: 0.9s;
  transform: rotate(360deg);
}

i.fa-refresh:hover {
  cursor: pointer;

}
i#remove-directions:hover {
  cursor: pointer;

}

.file-upload {
  display: block;
  text-align: left;
  padding-left:10px;
  font-weight: normal;
}

.modal-close-btn {
  margin-top: 0 !important;
}
