<div class="container">
  <div class="centered">
    <h3 class="text-center">Profile</h3>

  <div class="img-container">
    <img class="img-circle img-responsive center-block" src="<%= user.profilePicUrl %>">
  </div>
    <h3 class="text-center"><%= user.firstName %> <%= user.lastName %></h3>
    <h4 class="text-center"><%= user.email %></h4> 

      <a href="#" data-id="<%= user._id %>" class="logged-in text-center edit-user btn blue-btn logged-in">Edit</a>

      <a href="#" data-id="<%= user._id %>" class="logged-in text-center delete-user btn red-btn logged-in">Delete</a>
  </div>
</div>